.article{
}

.article .article-box{
    background-color: rgb(34, 34, 34);
    padding:0;

}
.article-box .article-box-info{
    padding:32px 20px;
}

.article .articleThumbnail-box{
    width:100%;
    height:300px;
    overflow: hidden;
    border-bottom:3px solid rgb(65, 65, 65);
}
.article #articleThumbnail{
    width:100%;
    height:auto;
}

.article #articleTitle{
    font-size:45px;
    font-weight:300;
    text-transform: uppercase;
    font-family: LemonMilk;
    /* Change font-style */
}

.article #articleInfo{
    text-transform: capitalize;
    font-style: italic;
    color:rgb(167, 167, 167);
}

.article #articlePreambul{
    font-size:20px;
}

.article #articleContent{
    font-size:16px;
    padding:20px 0px;
    border-top:1px solid rgb(82, 82, 82);
}
