.Classes{
    margin-top:32px;
}

.man-of-darkness{
    padding:15px;
    background-color: rgb(36, 19, 46);
    border-radius:5px;
}
.man-of-magic{
    padding:15px;
    background-color: rgb(12, 33, 43);
    border-radius:5px;
}
.man-of-nature{
    padding:15px;
    background-color: rgb(14, 36, 26);
    border-radius:5px;
}
.man-of-mysticism{
    padding:15px;
    background-color: rgb(53, 47, 17);
    border-radius:5px;
}
.man-of-combat{
    padding:15px;
    background-color: rgb(44, 11, 9);
    border-radius:5px;
}

.man{
    margin-bottom:10px;
    position:relative;
}

.toggle-class{
    position:absolute;
    top:15px;
    right:15px;
}
.toggle-class i{
    font-size:30px;
    transition: 0.3s;
}
.toggle-class i.toggled{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

#man-of-darkness-class, #man-of-magic-class, #man-of-nature-class, #man-of-combat-class, #man-of-mysticism-class{
    max-height:0px;
    overflow: hidden;
    transition:0.5s;
}

.orderClass.toggled{
    max-height:999em!important;
}