.navigation{
    position:fixed;
    width:100vw;
    background-color: rgb(15, 22, 31);
    z-index: 1000;
}

.navigation a{
    color:white;
    padding:20px 10px;
    display: inline-block;
    position:relative;
    width:100px;
    text-align: center;
    transition:0.3s;
    text-transform: uppercase;
}
.navigation a:hover{
    text-decoration: none;
    background-color: rgb(25, 36, 51);
}
.navigation a:before{
    position:absolute;
    left:50%;
    bottom:0px;
    content : ' ';
    width:0%;
    margin:auto;
    border-top:4px solid var(--secondary-color);
    transition:0.3s;
}
.navigation a:hover:before{
    left:25%;
    width:50%;
}
.navigation a.active:before{
    left:25%;
    width:50%;
    position:absolute;
    bottom:0px;
    content : ' ';
    margin:auto;
    border-top:4px solid var(--secondary-color);
    transition:0.3s;
}
.navigation a.active{
    background-color: rgb(25, 36, 51);
}

#loginNav{
    float:right;
    width:150px;
    background-color: rgb(134, 86, 67);
}

#loggedin{
    color:white;
    padding:20px 10px;
    display: inline-block;
    position:relative;
    text-align: center;
    transition:0.3s;
    float:right;
    padding-right:20px;
}

#loggedin span{
    font-size: 0.8em;
    padding:3px;
    color:rgb(161, 65, 65);
    border:1px solid rgb(161, 65, 65);
    border-radius:3px;
    margin-left:5px;
    cursor: pointer;
}